<div>
  <h3>External API</h3>
  <p>
    これらのボタンを使用して、外部 API を呼び出します。
    保護された API 呼び出しの承認ヘッダーにアクセス トークンがあります。
    API サーバーは、Auth0 オーディエンス値を使用してアクセストークンを検証します。
  </p>
  <div
    class="btn-group mt-5"
    role="group"
    aria-label="External API Requests Examples">
    <button (click)="callApi()" type="button" class="btn btn-primary">
      Get Public Message
    </button>
    <button (click)="callSecureApi()" type="button" class="btn btn-primary">
      Get Protected Message
    </button>
  </div>

  <div *ngIf="message" class="mt-5">
    <h6 class="muted">Result</h6>
    <div class="container-fluid">
      <div class="row">
        <code class="col-12 text-light bg-dark p-4">
          {{ message }}
        </code>
      </div>
    </div>
  </div>
</div>